asttokens==3.0.0
black==25.1.0
click==8.1.8
colorama==0.4.6
executing==2.2.0
flake8==7.1.1
flake8-html==0.4.3
Jinja2==3.1.5
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mccabe==0.7.0
mdurl==0.1.2
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
pdoc==15.0.1
pipdeptree==2.25.0
platformdirs==4.3.6
prompt_toolkit==3.0.50
pycodestyle==2.12.1
pyflakes==3.2.0
Pygments==2.19.1
questionary==2.1.0
rich==13.9.4
tinydb==4.8.2
tomli==2.2.1
typing_extensions==4.12.2
wcwidth==0.2.13
